{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "max-len": [
      2,
      80,
      2
    ],
    "quotes": [
      2,
      "single"
    ]
  }
}
